/**
A Jimmy Neutron inspired theme
@author: Kelly Freet
 */

/**
Everything
 */

.MainView *{
    -fx-text-fill: #E7EFDD;
}

.MainView {
    -fx-background-color: #2B2B2B;
}

.MainView .button {
    -fx-background-color: #3f1bc1;
    -fx-border-color: #340fbc;
    -fx-border-width: 1;
    -fx-border-style: solid;
}

/**
LeftView and its children
 */
.LeftView *{
    -fx-background-color: #2d2d2d;
}

/**
RightView and its children.
 */
.RightView *{

}

/**
BottomView and its children
 */
.BottomView *{

}

/**
Leftview only
 */
.LeftView{

}

/**
All buttons in left view.
 */
.LeftView .button{

}

/**
Library selection list-view of the left view.
 */
.LeftView .list-view{

}

/**
Cell of the library selection list-view of the left view.
 */
.LeftView .list-cell{

}

/**
Welcoming text of the left view.
 */
.LeftView #welcomeLabel{

}

/**
Refresh button of the left view.
 */
.LeftView #refreshButton{

}

/**
Signout button of the left view
 */
.LeftView #signOutButton{

}

/**
Right view only
 */
.RightView{

}

/**
TabPane  of right view
 */
.RightView .tab-pane {

}

.RightView .tab-pane .tab-header-background{
    -fx-background-color: #2B2B2B;
}

/**
Tabs of Tab-pane of right view
 */
.RightView .tab{
    -fx-background-color: #424040;
    -fx-border-color: #2B2B2B;
    -fx-border-width: 2;
    -fx-border-style: solid;
    /* yellow */
}

/**
Labels inside tab-pane of right view
 */
.RightView .tab-label{
    -fx-text-fill: #E7EFDD;;
    /* red */
}

/**
Search bar of the right view
 */
.RightView .text-field{

}

/**
Search button of the right view
 */
.RightView #searchButton{

}

/**
Bottom view only
 */
.BottomView {

}

/**
All texts in Bottom view
 */
.BottomView .label{

}

/**
All buttons in Bottom View
 */
.BottomView .button{

}

/**
All sliders in Bottom View
 */
.BottomView .slider{

}

/**
Song scrubbing slider in Bottom View
 */
.BottomView #songScrubbingSlider{

}

/**
Volume slider in Bottom View
 */
.BottomView #volumeSlider{

}

/**
Song title label in Bottom View
 */
.BottomView #titleLabel{

}

/**
Timestamp label in Bottom View
 */
.BottomView #timestampLabel{

}

/**
Previous button in Bottom View
 */
.BottomView #previousButton{

}

/**
Play button in Bottom View
 */
.BottomView #playButton{

}
/**
Next button in Bottom View
 */
.BottomView #nextButton{

}

/**
PlaylistListView and its children
 */
.PlaylistListView *{
    -fx-background-color: #424040;
}
/**
PlaylistListView only
 */
.PlaylistListView{

}
/**
List-view of PlaylistListView
 */
.PlaylistListView .list-view{

}
/**
Cell of list-view of PlaylistListView
 */
.PlaylistListView .list-cell{

}

/**
All buttons of PlaylistListView
 */
.PlaylistListView .button{

}

/**
Create button of PlaylistListView
 */
.PlaylistListView #createButton{

}
/**
Delete button of PlaylistListView
 */
.PlaylistListView #deleteButton{

}

/**
QueueView and its children
 */
.QueueView *{

}
/**
QueueView only
 */
.QueueView {
    -fx-background-color: #424040;
}
/**
Table view of QueueView
 */
.QueueView .table-view{
    -fx-background-color: #424040;
}
/**
Column headers of table-view of QueueView
 */
.QueueView .table-view .column-header{
    -fx-text-fill: #E7EFDD;
    -fx-background-color: #424040;
}

/**
The rest of column headers of QueueView
 */
.QueueView .table-view .filler{
    -fx-text-fill: #E7EFDD;
    -fx-background-color: #424040;
}
/**
Text of the column headers QueueView
 */
.QueueView .table-view .column-header-background .label{
    -fx-text-fill: #E7EFDD;
    -fx-background-color: #424040;
}

/**
table-row-cell of the table-view of QueueView
 */
.QueueView .table-view .table-row-cell{
    -fx-background-color: #424040;
}

/**
ArtistListView and its children
 */
.ArtistListView *{
    -fx-background-color: #424040;
}
/**
ArtistListView only
 */
.ArtistListView{

}
/**
List-view of ArtistListView
 */
.PlaylistListView .list-view{

}
/**
Cell of list-view of ArtistListView
 */
.PlaylistListView .list-cell{

}


/**
AlbumListView and its children
 */
.AlbumListView *{
    -fx-background-color: #424040;
}
/**
AlbumListView only
 */
.AlbumListView{

}
/**
Table view of AlbumListView
 */
.AlbumListView .table-view{

}
/**
Column headers of table-view of AlbumListView
 */
.AlbumListView .table-view .column-header{

}

/**
The rest of column headers of AlbumListView
 */
.AlbumListView .table-view .filler{

}
/**
Text of the column headers AlbumListView
 */
.AlbumListView .table-view .column-header-background .label{

}

/**
table-row-cell of the table-view of AlbumListView
 */
.AlbumListView .table-view .table-row-cell{
    /*
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    */
}

.AlbumListView .table-view .table-row-cell:odd{
    /*
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
    */
}


/**
DetailView and its children
 */
.DetailView *{
    -fx-background-color: #424040;
}
/**
DetailView only
 */
.DetailView{

}
/**
Table view of DetailView
 */
.DetailView .table-view{

}
/**
Column headers of table-view of DetailView
 */
.DetailView .table-view .column-header{

}

/**
The rest of column headers of DetailView
 */
.DetailView .table-view .filler{

}
/**
Text of the column headers DetailView
 */
.DetailView .table-view .column-header-background .label{

}

/**
table-row-cell of the table-view of DetailView
 */
.DetailView .table-view .table-row-cell{

}

/**
All buttons in DetailView
 */
.DetailView .button{

}
/**
All label in DetailView
 */
.DetailView .label{

}

/**
The image view of DetailView
 */
.DetailView #image{

}

/**
Type of the information of DetailView
 */
.DetailView #typeLabel{

}

/**
Name of the subject displayed in DetailView
 */
.DetailView #nameLabel{

}

/**
Add all to queue button in DetailView
 */
.DetailView #addAllButton{

}

/**
Close button in DetailView
 */
.DetailView #closeButton{

}




