/**
This the base configuration of the css. Please make a copy before editing. Change the styleSheet in MainView.fxml to load in another style sheet.
@author: Sotheanith Sok
 */

/**
Everything
 */
.SplashView {
    -fx-background-color: #333333;
}

.SplashView Label, .SplashView Text{
    -fx-fill: #cbf3ff;
    -fx-text-fill: #cbf3ff;
}

.SplashView TextField, .SplashView PasswordField{
    -fx-background-color: #ffffff;
    -fx-prompt-text-fill: #000000;
    -fx-text-fill: #000000;
}

.SplashView Button{
    -fx-text-fill: #cbf3ff;
    -fx-background-color: #077381;
}

.SplashView FontAwesomeIconView {
    -fx-fill: #cbf3ff;
}

.myDialog{
    -fx-background-color: #f9d900;
}
.myDialog > *.button-bar > *.container{
    -fx-background-color: #a9e200;
}
.myDialog > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.myDialog:header *.header-panel{
    -fx-background-color: #a59c31;
}
.myDialog:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: #292929;
}

.MainView *{
    -fx-text-fill: #cbf3ff;
}

/**
MainView only
 */
.MainView {
    -fx-background-color: #333333;
}

/**
All buttons
 */
.MainView .button{
    -fx-background-color: #077381;
}


/**
LeftView and its children
 */
.LeftView *{

}

/**
RightView and its children.
 */
.RightView *{

}

/**
BottomView and its children
 */
.BottomView *{
    -fx-background-color: #333333;
}

/**
Leftview only
 */
.LeftView{

}

/**
All buttons in left view.
 */
.LeftView .button{
    -fx-background-color: #077381;
}

/**
Library selection list-view of the left view.
 */
.LeftView .list-view{
    -fx-background-color: #373737;
}

/**
Cell of the library selection list-view of the left view.
 */
.LeftView .list-cell{

}

/**
Welcoming text of the left view.
 */
.LeftView #welcomeLabel{
}

/**
Refresh button of the left view.
 */
.LeftView #refreshButton{

}

/**
Signout button of the left view
 */
.LeftView #signOutButton{

}

/**
Right view only
 */
.RightView{

}

/**
TabPane  of right view
 */
.RightView .tab-pane .tab-header-background {
    -fx-background-color: #333333;
}
/**
Tabs of Tab-pane of right view
 */
.RightView .tab{
    -fx-background-color: #077381;
}

/**
Labels insde tab-pane of right view
 */
.RightView .tab-label{

}

/**
Search bar of the right view
 */
.RightView .text-field *{
        -fx-background-color: #373737;
}

.RightView .text-field{
    -fx-background-color: #373737;
    -fx-min-height: 30;
    -fx-prompt-text-fill: #08ebff;
}

/**
Search button of the right view
 */
.RightView #searchButton{

}

/**
Bottom view only
 */
.BottomView {

}

/**
All texts in Bottom view
 */
.BottomView .label{

}

/**
All buttons in Bottom View
 */
.BottomView .button{

}

/**
All sliders in Bottom View
 */
.BottomView .slider{

}

/**
Song scrubbing slider in Bottom View
 */
.BottomView #songScrubbingSlider{

}
/**
Slider bar color
 */
.BottomView #songScrubbingSlider .track{
    -fx-background-color: #077381;
}

/*
Slider thumb color
 */
.BottomView #songScrubbingSlider .thumb{
    -fx-background-color: #07b2c1;
}


/**
Volume slider in Bottom View
 */
.BottomView #volumeSlider {

}

/**
Slider bar color
 */
.BottomView #volumeSlider .track{
    -fx-background-color: #077381;
}

/*
Slider thumb color
 */
.BottomView #volumeSlider .thumb{
    -fx-background-color: #07b2c1;
}

/***
slider label color
 */
.BottomView #volumeSlider .axis{
    -fx-tick-label-fill: #08eaff;
}

/**
    Slider ticks color both major and minor
 */
.BottomView #volumeSlider .axis .axis-tick-mark, .BottomView #volumeSlider .axis .axis-minor-tick-mark{
    -fx-fill: null;
    -fx-stroke: #07b2c1
}



/**
Song title label in Bottom View
 */
.BottomView #titleLabel{

}

/**
Timestamp label in Bottom View
 */
.BottomView #timestampLabel{

}

/**
Previous button in Bottom View
 */
.BottomView #previousButton{

}

/**
Play button in Bottom View
 */
.BottomView #playButton{

}
/**
Next button in Bottom View
 */
.BottomView #nextButton{

}

/**
PlaylistListView and its children
 */
.PlaylistListView *{
    -fx-background-color: #333333;
}
/**
PlaylistListView only
 */
.PlaylistListView{

}
/**
List-view of PlaylistListView
 */
.PlaylistListView .list-view{

}
/**
Cell of list-view of PlaylistListView
 */
.PlaylistListView .list-cell{

}

/**
All buttons of PlaylistListView
 */
.PlaylistListView .button{

}

/**
Create button of PlaylistListView
 */
.PlaylistListView #createButton{
    -fx-background-color: #077381;
}
/**
Delete button of PlaylistListView
 */
.PlaylistListView #deleteButton{

}

/**
QueueView and its children
 */
.QueueView *{
    -fx-background-color: #333333;
}
/**
QueueView only
 */
.QueueView{

}
/**
Table view of QueueView
 */
.QueueView .table-view{

}
/**
Column headers of table-view of QueueView
 */
.QueueView .table-view .column-header{

}

/**
The rest of column headers of QueueView
 */
.QueueView .table-view .filler{

}
/**
Text of the column headers QueueView
 */
.QueueView .table-view .column-header-background .label{

}

/**
table-row-cell of the table-view of QueueView
 */
.QueueView .table-view .table-row-cell{

}

/**
ArtistListView and its children
 */
.ArtistListView *{
    -fx-background-color: #333333;
}
/**
ArtistListView only
 */
.ArtistListView{

}
/**
List-view of ArtistListView
 */
.PlaylistListView .list-view{

}
/**
Cell of list-view of ArtistListView
 */
.PlaylistListView .list-cell{

}


/**
AlbumListView and its children
 */
.AlbumListView *{
    -fx-background-color: #333333;
}
/**
AlbumListView only
 */
.AlbumListView{

}
/**
Table view of AlbumListView
 */
.AlbumListView .table-view{

}
/**
Column headers of table-view of AlbumListView
 */
.AlbumListView .table-view .column-header{

}

/**
The rest of column headers of AlbumListView
 */
.AlbumListView .table-view .filler{

}
/**
Text of the column headers AlbumListView
 */
.AlbumListView .table-view .column-header-background .label{

}

/**
table-row-cell of the table-view of AlbumListView
 */
.AlbumListView .table-view .table-row-cell{

}


/**
DetailView and its children
 */
.DetailView *{
    -fx-background-color: #333333;
}
/**
DetailView only
 */
.DetailView{

}
/**
Table view of DetailView
 */
.DetailView .table-view{

}
/**
Column headers of table-view of DetailView
 */
.DetailView .table-view .column-header{

}

/**
The rest of column headers of DetailView
 */
.DetailView .table-view .filler{

}
/**
Text of the column headers DetailView
 */
.DetailView .table-view .column-header-background .label{

}

/**
table-row-cell of the table-view of DetailView
 */
.DetailView .table-view .table-row-cell{

}

/**
All buttons in DetailView
 */
.DetailView .button{

}
/**
All label in DetailView
 */
.DetailView .label{

}

/**
The image view of DetailView
 */
.DetailView #image{

}

/**
Type of the information of DetailView
 */
.DetailView #typeLabel{

}

/**
Name of the subject displayed in DetailView
 */
.DetailView #nameLabel{

}

/**
Add all to queue button in DetailView
 */
.DetailView #addAllButton{

}

/**
Close button in DetailView
 */
.DetailView #closeButton{

}
.BottomView .menu-button *{
    -fx-background-color: #077381 ;
}




